@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* General Content */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contrast {
  background-color: #f5f5f7;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 1rem 0;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 1rem 0;
}

/* Function Buttons  */
.button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-list button {
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button-list button:hover {
  color: #ee4758;
}

/* Main Content */
.container {
  line-height: 1.4;
  padding: 1rem 2.5rem;
  text-align: center;
  max-width: 100rem !important;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  margin: .5rem 0;
}

.container-text {
  font-size: 1.125rem;
  color: #62646c;
  line-height: 1.6;
  margin: 1rem 0;
}

/* Form Content */
.form {
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  max-width: 37.5rem;
  margin: 0 auto;
}

.form-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.form-input {
  position: relative;
}

.form-input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.form-input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.form-submit {
  display: block;
  padding: 0.75rem;
  background-color: #ee4758;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Result Content */ 
.container-result {
  display: flex;
  flex-direction: row;
  max-width: 37.5rem;
  margin: 0 auto;
}

.result-box {
  margin-top: 2rem;
  border: 0.063rem #DFE3E8 solid;
  width: 100%;
  border: 0.063rem #DFE3E8 solid;
  border-radius: 0.25rem;
}

.result-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.063rem #DFE3E8 solid;
  padding: 1rem;
}

.result-data {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
  width: 100%;
  gap:2rem;
}

.rows {
  text-align: left;
}

.result-ul {
  margin-top: 2rem;
  width: 100%;
  border: 0.063rem #DFE3E8 solid;
  border-radius: 0.25rem;
}

.result-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 1rem;
  box-shadow: 0 0.063rem 0 #DFE3E8;
}

.result-bold {
  padding-bottom: .25rem;
  font-weight: 500;
}

.result-title {
  padding-bottom: .25rem;
  font-weight: 400;
}

.result {
  font-weight: 400;
}

/* Join 1 & 2 Content */
.container-sentence, .sentence-button {
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}

.container-sentence {
  margin-top: 5rem;
  margin-bottom: 1.25rem;
}

.sentence-button button {
  cursor: pointer;
  padding: .75rem 1rem;
  margin-bottom: 16rem;
  background-color: #ee4758;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

span, .span-color {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75;
}

.span-color {
  color: #ee4758;
}

.span-highlight {
  background-color: rgba(238, 71, 88, 0.4);
}

/* Benefits Content */
.container-benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 2rem;
  gap: 2rem;
}

.benefits-card {
  background-color: white;
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.benefits-emoji {
  font-size: 2.5rem;
}

.benefits-emoji p {
  margin: 0;
  margin-bottom: 1rem;
}

.benefits-title h2 {
  margin: 0;
  margin-bottom: .5rem;
}

.benefits-desc {
  font-size: 1.125rem;
  max-width: 25ch;
}

/* Use Content */
.use-title {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.use-title span {
  font-size: 1.875rem;
  font-weight: 700;
}

.container-use {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  max-width: 100rem;
  margin-bottom: 6rem;
}

.use-card {
  padding: 2rem;
  height: 16rem;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  height: 4rem;
  width: auto;
  margin-bottom: 1rem;
}

.card-title h2 {
  text-align: center;
  margin: 0;
  margin-bottom: .5rem;
}

.card-desc {
  text-align: center;
  font-size: 1.125rem;
  max-width: 30ch;
}

/* Footer Content */
.container-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.container-footer p {
  margin: .5rem 0;
  cursor: pointer;
}

.container-footer p:hover {
  color: #ee4758;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info img {
  width: 8rem;
  height: auto;
}

.footer-content {
  text-align: left;
  padding: 2rem;
  list-style: none;
  transition: color 0.3s ease;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* General Content */
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  /* Function Buttons */
  .button-list button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  /* Main Buttons */
  .container {
    padding: 1rem 2rem;
  }

  /* Form Content */
  .form-input {
    width: 100%;
    font-size: 1rem;
  }

  .form-submit {
    font-size: 1rem;
    padding: 0.625rem;
  }

  /* Result Content */
  .result-title, .result {
    font-size: 1rem;
  }

  .result-name, .result-data, .result-li {
    padding: 0.5rem;
  }

  /* Benefits Content */
  .container-benefits {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .container-benefits .benefits-card {
    padding: 1.75rem;
  }

  .benefits-title h2, .benefits-desc {
    font-size: 1rem;
  }

  /* Use Content */
  .use-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .card-desc {
    font-size: 1rem;
    padding: 1rem;
  }

  /* Footer Content */
  .container-footer p {
    margin: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  /* General Content */
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0.5rem 0;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0.5rem 0;
  }

  /* Function Buttons */
  .button-list {
    flex-direction: row;
  }

  .button-list button {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }

  /* Main Content */
  .container {
    padding: 1rem;
  }

  /* Form Content */
  .form-input {
    width: 100%; 
    font-size: 0.875rem; 
  }

  /* Result Content */
  .container-result {
    margin-top: 1rem;
  }

  .result-box {
    margin-top: 1rem;
  }

  .result-name {
    padding: 0.5rem;
  }

  .result-data {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .result-ul {
    margin-top: 1rem;
  }

  .result-li {
    padding: 0.5rem;
  }

  .result-title {
    font-size: 0.875rem;
  }

  .result {
    font-size: 0.875rem;
  }

  /* Join 1 & 2 Content */
  .sentence-button button {
    margin-bottom: 12rem;
  }

  span, .span-color {
    font-size: 1.125rem;
  }

  /* Benefits Content */
  .container-benefits {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem;
  }

  .benefits-card {
    padding: 2rem;
  }

  .benefits-emoji p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .benefits-title h2 {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .benefits-desc {
    font-size: 0.875rem;
  }

  /* Use Content */
  .use-title {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .container-use {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .use-card {
    padding: 1rem;
  }

  /* Footer Content */
  .container-footer {
    grid-template-columns: 1fr;
  }

  .footer-info img {
    display: none;
  }

  .footer-content {
    font-size: 0.875rem;
  }
}