@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.25rem;
}

.container {
  line-height: 1.4;
  padding: 0 2.5rem;
  text-align: center;
  max-width: 100rem !important;
}

.button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button-list button {
  padding: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}

.button-list button:hover {
  color: #C41E3A;
}

.button-list button.active {
  color: #C41E3A;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: .5rem 0;
  text-transform: uppercase;
}

.container-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #353935	;
  line-height: 1.6;
  margin: 1rem 0;
}

.container-result {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #353935;
}

.container-input {
  position: relative;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  width: 100%;
}

.container-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  margin: 1rem 0;
}

.container-list {
  list-style: none;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}